.App {
  text-align: center;
  box-sizing: border-box;
}

.tab {
  padding: 20px;
  font-size: larger;
}

.post {
  display: inline-block;
  font-weight: 700;
  font-size: x-large;
  padding-top: 40px;
  width: 400px;
  height: 200px;
  text-align: center;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
  float: left;
  box-shadow: 2px 3px 5px #ccc;
}

.post-container {
  position: relative;
  padding: 20px;
}

.show-post {
  display: inline-block;
  font-weight: 700;
  font-size: x-large;
  padding-top: 40px;
  width: 80%;
  text-align: center;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 2px 3px 5px #ccc;
  margin: 0 auto;
}

.message {
  font-weight: 900;
  font-size: 60px;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}
